STEGO/dataloader_test/
STEGO/testing_data/
STEGO/models/
STEGO/saved_models/
STEGO/src/logs/


**/__pycache__/
**/*.py[cod]


CBS2/dataset/
CBS2/logs/
CBS2/wandb/
CBS2/results/


DriveAndSegment/dino_deitsmall16_pretrain.pth
DriveAndSegment/weights/


ffmpeg-6.1.1/
ffmpeg-snapshot.tar.bz2
ffmpeg_6.1.1.orig.tar.xz
TensorRT-8.6.1.6.Linux.x86_64-gnu.cuda-12.0.tar.gz
TensorRT-8.6.1.6/
cuda-keyring_1.1-1_all.deb
torch2trt/
